css/bootstrap/*     linguist-vendored
css/font-awesome/*  linguist-vendored
js/bookreader/*     linguist-vendored
js/bootstrap/*      linguist-vendored
js/dataTables*.js   linguist-vendored
js/jquery*.js       linguist-vendored
